page {
  /* margin-top: 150rpx; */
}
.page {
  border: 1px solid #888888;
  
}
.box-content {
    width: 745rpx;
    /* border: 1px solid #888888; */
    margin-bottom: 20px;
    margin: 0 auto;
}

.page__hd {
  padding: 40px;
}

.page__bd {
  padding-bottom: 40px;
}

.page__bd_spacing {
  padding-left: 15px;
  padding-right: 15px;
}

.page__ft {
  padding-bottom: 10px;
  text-align: center;
}

.page__title {
  text-align: left;
  font-size: 20px;
  font-weight: 400;
}

.page__desc {
  margin-top: 5px;
  color: #888888;
  text-align: left;
  font-size: 14px;
}
.form_button {
  background-color: transparent;
  padding: 0;
  margin: 0;
  text-align: left;
}

.form_button::after {
  border: 0px;
}
.clearfix {
  overflow: hidden;
  _zoom: 1;
}
.GoIndex{
  width: 86rpx;
  height: 86rpx;
  color: #585c63;
  font-size: 20rpx;
  text-align: center;
  line-height: 120rpx;
  border-radius: 50%;
  box-shadow: 0px 0px 10rpx rgba(0,0,0,0.2);
  position: fixed;
  bottom: 150rpx;
  right: 20rpx;
  z-index: 3;
  background: url(../../static/images/ic_menu_choice_pressed.png) center 15% no-repeat;
  background-size: 50rpx; 
  background-color: #fff;
}