.cate-item {
  /* margin-top: 172rpx; */
  margin-bottom: 20rpx;
  height: auto;
  overflow: hidden;
}

.cate-item .h {
  height: 145rpx;
  width: 750rpx;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cate-item .h .name {
  display: block;
  height: 35rpx;
  margin-bottom: 18rpx;
  font-size: 30rpx;
  color: #333;
}

.cate-item .h .desc {
  display: block;
  height: 24rpx;
  font-size: 24rpx;
  color: #999;
}

.cate-item .b {
  width: 750rpx;
  padding: 7rpx 13rpx;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;
  background-color: #f1f1f1;
}

.cate-item .b .item {
  float: left;
  background: #fff;
  /* width: 350rpx; */
  width: 356rpx;
  height: 540rpx;
  overflow: hidden;
}

.cate-item .b .item {
  margin-top: 15rpx;
}

.cate-item .b .item:nth-child(2n) {
  margin-left: 15rpx;
}

.cate-item .item .img {
  display: block;
  width: 100%;
  height: 400rpx;
  overflow: hidden;
  background: #666666;
}

.cate-item .b-txt {
  width: 100%;
  height: 140rpx;
  padding: 15rpx 10rpx;
  box-sizing: border-box;
}

.cate-item .b-txt .name {
  font-size: 24rpx;
  color: #282828;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cate-item .b-txt .ShopName {
  width: 100%;
  font-size: 22rpx;
  color: #666666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cate-item .b-txt .b-bottom .price {
  width: 50%;
  font-size: 32rpx;
  color: #dc2121;
  float: left;
  line-height: 50rpx;
}

.cate-item .b-txt .b-bottom .icon {
  font-size: 28rpx;
}

.cate-item .b-txt .b-bottom .dealNum {
  width: 50%;
  font-size: 20rpx;
  color: #999999;
  float: left;
  text-align: right;
  line-height: 50rpx;
}

